{% for system in systems %}

## {{ system.name }}

[![Edit YAML definition](https://img.shields.io/badge/Edit-On Github-orange?logo=github)](https://github.com/autogoal/survey/edit/main/data/systems/{{ system.key }}.yml)

{{ system.description }}

| | |
|-|-|
| **Basic info** | {% if system.website -%} [![System website](https://img.shields.io/badge/website-{{ system.website }}-informational)]({{ system.website }}) <br> {%- endif -%} ![Open source](https://img.shields.io/badge/open--source-{{ "yes" if system.open_source else "no" }}-{{ "success" if system.open_source else "critical" }}) {% if system.repository -%} [![Repository](https://img.shields.io/badge/-Go to repository-informational?logo=github)]({{ system.repository }}) {%- endif %} {% if system.license -%} ![License](https://img.shields.io/badge/License-{{ system.license }}-informational) {%- endif %} |
| **Interfaces** | ![CLI](https://img.shields.io/badge/CLI-{{ "yes" if system.cli else "no" }}-{{ "success" if system.cli else "critical" }}) ![GUI](https://img.shields.io/badge/GUI-{{ "yes" if system.gui else "no" }}-{{ "success" if system.gui else "critical" }}) ![HTTP](https://img.shields.io/badge/HTTP-{{ "yes" if system.http else "no" }}-{{ "success" if system.http else "critical" }}) ![Library](https://img.shields.io/badge/Library-{{ "yes" if system.library else "no" }}-{{ "success" if system.library else "critical" }}) {% for pl in system.programming_languages %} <br> ![{{pl}}](https://img.shields.io/badge/language-{{pl}}-blueviolet){% endfor %} |
| ** Domains** | ![Multi-domain](https://img.shields.io/badge/multi--domain-{{ "yes" if system.multi_domain else "no" }}-{{ "success" if system.multi_domain else "critical" }}) <br> {%- for domain in system.domains -%} ![{{domain}}](https://img.shields.io/badge/domain-{{ domain }}-white) &nbsp; {%- endfor -%}  |
| **Techniques** | ![Distillation](https://img.shields.io/badge/distillation-{{ "yes" if system.distillation else "no" }}-{{ "success" if system.distillation else "critical" }}) <br> {%- for technique in system.techniques -%} ![{{technique}}](https://img.shields.io/badge/technique-{{ technique }}-white) &nbsp; {%- endfor -%} |
| **Tasks** | ![Multi-task](https://img.shields.io/badge/multi--task-{{ "yes" if system.multi_task else "no" }}-{{ "success" if system.multi_task else "critical" }}) <br> {%- for task in system.tasks -%} ![{{task}}](https://img.shields.io/badge/task-{{ task }}-white) &nbsp; {%- endfor -%} |
| **Search strategies** | ![Meta-learning](https://img.shields.io/badge/meta--learning-{{ "yes" if system.meta_learning else "no" }}-{{ "success" if system.meta_learning else "critical" }}) {% for strategy in system.meta_learning -%} ![{{strategy}}](https://img.shields.io/badge/meta-{{ strategy }}-white) &nbsp; {%- endfor -%} <br> {%- for strategy in system.search_strategies -%} ![{{strategy}}](https://img.shields.io/badge/strategy-{{ strategy }}-white) &nbsp; {%- endfor -%} |

{% endfor %}
